#content-container{
  display: flex;
  flex-flow: column;
  height: 100%;
}

.fill-height {
  flex-grow: 1 !important;
}

.divider {
  height:2px;
  background-color: #f2f2f2;
}

.second-color {
  background-color: #83B1FF;
}

.primary {
  background-color: #3880ff;
}

.img-icon {
  width:40px;
  height:40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
