<ion-header>
    <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sport points
    </ion-title>
    <ion-buttons slot="end">
      <ion-spinner *ngIf="load" name="bubbles"></ion-spinner>
      <ion-button ion-button icon-only (click)="this.showFilters = !this.showFilters" *ngIf="!load">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="has-header" scroll="false">

  <div id="content-container">

  <div *ngIf="showFilters">
    <ion-item class="my-item">
      <ion-label>Types</ion-label>
      <ion-select [(ngModel)]="currentTypeFilter" placeholder="Tous" (ionChange)="onTypeChange($event)">
        <ion-select-option *ngFor="let type of sportPointsTypes" [value]="type">
          {{type}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="my-item">
      <ion-label position="fixed">{{sportPointUtils.friendlyDistance(currentDistanceFilter)}}</ion-label>
      <ion-range [(ngModel)]="currentDistanceFilter" color="primary" pin="false" [(ngModel)]="distanceFilter"
        min="0" [max]="maxDistance" (ionChange)="onDistanceChange($event)">
      </ion-range>
    </ion-item>
  </div>

  <ion-card *ngIf="currentPoint">

  <div *ngIf="currentPoint">
    <ion-item lines="none" *ngIf="currentPoint">
      <ion-label text-wrap>
        <ion-text color="primary">
          <h3>{{currentPoint.stheme}}</h3>
        </ion-text>
        <ion-text>
          <h2>{{currentPoint.nom}}</h2>
          <p>{{currentPoint.adresse}}</p>
        </ion-text>
      </ion-label>
      <ion-badge color="primary" slot="start">{{sportPointUtils.friendlyDistance(currentPoint.distance)}}</ion-badge>
      <ion-icon name="close-circle" slot="end" color="danger" (click)="closeDetails()"></ion-icon>
    </ion-item>
  </div>
  </ion-card>

  <div #map_canvas id="map_canvas" class="my-item"></div>

  <ion-item *ngIf="error">
    <ion-label>{{error}}</ion-label>
  </ion-item>

  <!-- <div *ngIf="sportPoints">
    <ion-card *ngFor="let sportPoint of filterSportPoints">

      <ion-card-header>
        <ion-card-title>{{sportPoint.nom}}</ion-card-title>
        <ion-card-subtitle>{{sportPoint.stheme}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Adresse: {{sportPoint.adresse}}</p>
        <p>Distance: {{sportPointUtils.friendlyDistance(sportPoint.distance)}}</p>
      </ion-card-content>
    </ion-card>
  </div> -->
  </div>
</ion-content>
