<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Sport points
    </ion-title>
    <ion-buttons slot="end" *ngIf="currentSegment != 'favorite'">
      ({{currentList.length}})
      <ion-spinner *ngIf="load" name="bubbles"></ion-spinner>
      <ion-button ion-button icon-only (click)="toggleFilters()" *ngIf="!load">
        <ion-icon name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="divider"></div>

  <ion-toolbar *ngIf="showFilters" color="primary">
    <ion-item class="my-item" color="primary" lines="none">
      <ion-label>Types</ion-label>
      <ion-select [(ngModel)]="currentTypeFilter" placeholder="Tous" (ionChange)="onTypeChange($event)">
        <ion-select-option *ngFor="let type of sportPointsTypes" [value]="type">
          {{type}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="my-item" color="primary" lines="none">
      <ion-label position="fixed">{{sportPointUtils.friendlyDistance(currentDistanceFilter)}}</ion-label>
      <ion-range [(ngModel)]="currentDistanceFilter" color="warning" pin="false" [(ngModel)]="distanceFilter"
        min="0" [max]="maxDistance" (ionChange)="onDistanceChange($event)">
      </ion-range>
    </ion-item>
  </ion-toolbar>

</ion-header>

<ion-content scroll="false" class="has-header">

  <div id="content-container" class="second-color">

    <ion-card *ngIf="currentPoint">
      <ion-item lines="none" *ngIf="currentPoint">
        <ion-label text-wrap>
          <ion-text color="primary">
            <h3>{{currentPoint.stheme}}</h3>
          </ion-text>
          <ion-text>
            <h2>{{currentPoint.nom}}</h2>
            <p>{{currentPoint.adresse}}</p>
          </ion-text>
        </ion-label>
        <div slot="start">
          <img class="img-icon" [src]="currentPoint.icon"/>
          <ion-badge color="primary">{{sportPointUtils.friendlyDistance(currentPoint.distance)}}</ion-badge>
        </div>
        <ion-icon name="close-circle" slot="end" color="danger" (click)="closeDetails()"></ion-icon>
      </ion-item>
    </ion-card>

    <div [hidden] = "currentSegment != 'map'" #map_canvas class="fill-height">
      <div #map_canvas class="fill-height"></div>
    </div>

    <div [hidden] = "currentSegment != 'list'" class="fill-height second-color" scroll="true">
      <ion-card *ngFor="let sportPoint of currentList">
        <ion-item lines="none">
          <ion-label text-wrap>
            <ion-text color="primary">
              <h3>{{sportPoint.stheme}}</h3>
            </ion-text>
            <ion-text>
              <h2>{{sportPoint.nom}}</h2>
              <p>{{sportPoint.adresse}}</p>
            </ion-text>
          </ion-label>
          <div slot="start">
            <img class="img-icon" [src]="sportPoint.icon"/>
            <ion-badge color="primary">{{sportPointUtils.friendlyDistance(sportPoint.distance)}}</ion-badge>
          </div>
          <ion-icon [name]="isFavorite(sportPoint.entityid) ? 'star' : 'star-outline'" slot="end" color="warning" (click)="toggleFavorite(sportPoint)"></ion-icon>
          <!-- <ion-icon [name]="'star'" slot="end" color="warning" (click)="toggleFavorite()"></ion-icon> -->
        </ion-item>
      </ion-card>
    </div>

    <div [hidden] = "currentSegment != 'favorite'" class="fill-height second-color" scroll="true">
      <ion-card *ngFor="let sportPoint of favoritePoints">
        <ion-item lines="none">
          <ion-label text-wrap>
            <ion-text color="primary">
              <h3>{{sportPoint.stheme}}</h3>
            </ion-text>
            <ion-text>
              <h2>{{sportPoint.nom}}</h2>
              <p>{{sportPoint.adresse}}</p>
            </ion-text>
          </ion-label>
          <div slot="start">
            <img class="img-icon" [src]="sportPoint.icon"/>
          </div>
          <ion-icon [name]="isFavorite(sportPoint.entityid) ? 'star' : 'star-outline'" slot="end" color="warning" (click)="toggleFavorite(sportPoint)"></ion-icon>
        </ion-item>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="divider"></div>
  <ion-segment [(ngModel)]="currentSegment" (ionChange)="segmentChanged($event)" color="light" class="primary">
    <ion-segment-button value="map">
      <ion-icon name="map"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="list">
      <ion-icon name="list"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="favorite">
      <ion-icon name="star"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
